:root {
    --primary-white: #FFFFFF;
    --secondary-gray: #C0C0C0;
    --button-blue: #167BF7;
    --button-blue-effect: #3C92FA;
    --background-black: #00030C;
    --main-font: 'Inter';
}

body {
    background-color: var(--background-black);
    color: var(--primary-white);
    font-family: var(--main-font);
    font-size: 32px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__box {
    margin: 0 6em;
}

.container__title {
    font-size: 28px;
    font-weight: 700;
}

.container__img {
    margin: 1em 0 2em 0;
}

.container__button {
    background-color: var(--button-blue);
    border-radius: 5px;
    padding: 1em;
    color: var(--primary-white);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.secondary_button {
    background-color: transparent;
    border: 2px solid var(--primary-white);
}

.container__text {
    font-size: 16px;
    color: var(--secondary-gray);
}

.secondary {
    align-items: center;
    margin: 0 6em;
}

.secondary__img {
    width: 80%;
}

.description__title {
    font-weight: 700;
    font-size: 96px;
    color: var(--primary-white);
    margin-bottom: 0.1em;
}

.description__text {
    color: var(--secondary-gray);
}

.section_button {
    display: inline-block;
    margin-top: 1em;
}

.container__description {
    padding: 2em;
}

.devices {
    text-align: center;
}

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.devices__title {
    color: var(--primary-white);
    font-size: 96px;
}

.devices__item {
    color: var(--primary-white);
    font-size: 32px;
}

.footer {
    text-align: center;
    margin: 5em 3em;
}

.footer__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.list__link a {
    text-decoration: none;
    color: var(--primary-white);
    margin-left: 1em;
}

.footer__text {
    margin: 1em 0;
    color: var(--secondary-gray);
    font-size: 16px;
}

.list__link a:active {
    color: purple;
}

.container__button:hover {
    background-color: var(--button-blue-effect);
    color: var(--background-black);
}